<title>
  {{ user}}'s profile
</title>

<link rel='stylesheet' href='/public/stylesheets/profile.css' />

<div style=" text-align: center; position: absolute;"  class="container">
  <div class='txt'>
    <h3 style="color: white">{{ user.username }}</h3> | <small style="color: white" >{{ user.email }}</small>
    <h4 style="color: white">{{ user.profile.name }}</h4>
  </div>    
  <h3 style="color: white">Profile Info:</h3>
  <p style="color: white" >Age | {{ user.referralID}}</p>
  <p style="color: white" >Phone Number | {{user.referralNO}}</p>
  <p style="color: white" >Country | {{ user.followers }}</p>
  <p style="color: white" >Coins | {{ user.following }}</p></h5>   
</div>