<center>
  <div class="row">
    <div class="col-md-12 col-md-offset-12">
        <h1>SignUp</h1>

    {{#if referral_id}}

      <form method="POST" action"/register/rl{{ referral_id }}">
        <input type='text' name='username' placeholder='Username' value="{{data.username}}"/><br><br>
        <input type='password' name='password' placeholder='Password' value="{{data.password}}"/><br><br>
        <p style="width: 220px; height: 70px; color:white; background: black; border-radius: 40px; display: flex; align-items: center; justify-content: center; padding: 0 70px;">
          <h7 class="card-title">Referral ID: {{ referral_id }}</h7></p>    
        <button type='submit' class="btn btn-primary pull-right" role="button" >Submit</button>
      </form>

      {{#if referralIDError.luhnAlgo}}
        <div class="alert alert-danger" style="width: 30%;">{{ referralIDError.luhnAlgo }}</div>
      {{/if}}

      {{#if errors.password }}
        <div class="alert alert-danger" style="width: 30%;">{{ errors.password }}</div> 
      {{/if}}

      {{#if theErrors.username_exists }}
        <div class="alert alert-danger" style="width: 30%;">{{ theErrors.username_exists }}</div>
      {{/if}}

      {{#if errors.username }}
        <div class="alert alert-danger" style="width: 30%;">{{ errors.username }}</div>
      {{/if}}

    {{ else}}

      <form method="POST" action"register">
        <input type='text' name='username' placeholder='Username' value="{{data.username}}"/><br><br>
        <input type='password' name='password' placeholder='Password' value="{{data.password}}"/><br><br>
        <input type='text' name='referral' placeholder='Referral ID(Optional)' /><br><br>
        <button type='submit' class="btn btn-primary pull-right" role="button" >Submit</button>
      </form>

      {{#if referralIDError.luhnAlgo}}
        <div class="alert alert-danger" style="width: 30%;">{{ referralIDError.luhnAlgo }}</div>
      {{/if}}

      {{#if errors.password }}
        <div class="alert alert-danger" style="width: 30%;">{{ errors.password }}</div> 
      {{/if}}

      {{#if theErrors.username_exists }}
        <div class="alert alert-danger" style="width: 30%;">{{ theErrors.username_exists }}</div>
      {{/if}}

      {{#if errors.username }}
        <div class="alert alert-danger" style="width: 30%;">{{ errors.username }}</div>
      {{/if}}

    {{/if}}

    </div>
  </div>
<center>

