<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">

        <center>
        <h3>{{ post.title }}</h3>
        <br>
        <p>{{ post.content }}</p>
        <br>
        <p class=" text-muted">Created by {{ post.owner }} on {{ post.date}}</p>
        <br> 
        <p> With adeola, feranmi, cisco</p>
        </center> 
        Delete this <a href="/delete-post/"{{post.id}}>post</a> | Edit this <a href="/edit-post/"{{post.id}}>post</a>
        <center>Archive this <a href="/archive-post/"{{post.id}}>post</a></center>
      </div>
    </div>
  </div>
</div>